* {
    box-sizing: border-box;
}

.container {
    width: 1600px;
    height: 920px;
} 

.calculator-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    width: 825px;
    height: 860px;
}

.calculator-screen {
    background-color: white;
    margin: 10px;
    width: 800px;
    height: 200px;
}

.calculator-buttons {
    display: flex;
    background-color: rgb(86, 99, 105);
    margin: 10px;
    width: 800px;
    height: 600px;
}

.left-side-buttons, .right-side-buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    height: 680px;
    padding: 20px;
    gap: 10px;
}

.left-side-buttons .button {
    flex: auto;
    width: 100px;
    height: 70px;
}

.right-side-buttons .button {
    flex: auto;
    width: 120px;
    height: 70px;
}

.button {
    font-size: large;
}
