* {
    box-sizing: border-box;
}

.container {
    width: 1600px;
    height: 920px;
} 

.calculator-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #f0f0f0;
    width: 825px;
    height: 920px;
}

.calculator-screen {
    background-color: white;
    margin: 10px;
    width: 800px;
    height: 200px;
}

.calculator-buttons {
    display: flex;
    background-color: rgb(76, 93, 100);
    margin: 10px;
    width: 800px;
    height: 680px;
}

.left-side-buttons {
    display: flex;
    flex-flow: column wrap;
}